{% extends "head.html.twig" %}

{% block title %}About{% endblock %}

{% block main %}
    <div class="body-div">
        <h1>About</h1>
        <div class="columns-div">
            <p>Inför slutprojektet i MVC-kursen har jag valt att bygga ett Blackjack spel för upp till 3 spelare.
            Blackjack är ett kortspel där spelare tävlar mot dealer. Målet är att nå 21 poäng eller så nära 21 som det går. 
            Får man över 21 så förlorar man, och man har möjlighet att stanna (stand) och inte dra fler kort om man känner att man inte kommer närmre 21 utan att rikser förlora.
            Spelet börjar med att man får välja antalet spelare och sedan får varje spelare dra i tur och ordning. 
            De första två korten är redan dragna för spelaren och för dealern är bara 1 kortet synligt för spelarna att se.
            När spelet är avslutat utses vinnaren/vinnarna.</p>
        </div>
    </div>
{% endblock %}
