{% extends "head.html.twig" %}

{% block title %}About{% endblock %}

{% block main %}
    <div class="body-div">
        <h1>Database</h1>
        <div class="columns-div">
            <img src="{{ asset('images/diagram.png') }}" alt="diagram" class="diagram-image"/>

            <p></p>
        </div>
    </div>
{% endblock %}
