{% extends "head.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <div class="body-div">
        <h1>Kmom10</h1>
        <img src="{{ asset('images/suits.png') }}" alt="suits" class="suits-image"/>
        <div class="index-container">
            <label for="players">Chose number of players:</label>

            <form class="form-container" action="{{ path('init_game') }}" method="post">
                <input type="number" id="players" name="number" value="1" min="1" max="3" />
                <button type="submit">Play</button>
            </form>
        </div>
    </div>
{% endblock %}