{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block main %}
    <div class="body-div">
        <h1>Cards</h1>
        {% for card in cards %}
            <p>{{ card }}</p>
        {% endfor %} 
    </div>
{% endblock %}