{% extends "base.html.twig" %}

{% block title %}Delete{% endblock %}

{% block main %}
    <div class="body-div">
        <h1>Delete session</h1>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

    </div>
{% endblock %}