{% extends "base.html.twig" %}

{% block title %}Documentation{% endblock %}

{% block main %}
    <div class="body-div">
        <h1>Game</h1>
        <img src="../img/funktion1.png" alt="pseudokod">
        <img src="../img/funktion2.png" alt="pseudokod">
        <img src="../img/funktion3.png" alt="pseudokod">
        <img src="../img/flowchart.png" alt="flow chart">
        <img src="../img/class.png" alt="class">
    </div>
{% endblock %}