{% extends "base.html.twig" %}

{% block title %}Draw card{% endblock %}

{% block main %}
    <div class="body-div">
        <h1>Draw card</h1>
        <p>Cards left: {{ cardsLeft }}</p>
        {% if drawnCards is not empty %}
            {% for card in drawnCards %}
                {{ card }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}