{% extends "base.html.twig" %}

{% block title %}Shuffle{% endblock %}

{% block main %}
    <div class="body-div">
        <h1>Shuffle cards</h1>
        {% for card in cards %}
            <p>{{ card }}</p>
        {% endfor %}
    </div>
{% endblock %}