body {
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 192, 172);
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

nav {
    background-color: rgba(255, 228, 196, 0.8);
    padding: 5px;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

footer {
    text-align: center;
    font-weight: bold;
}

.body-div {
    display: flex;
    flex-direction: column;
    padding: 0 10em;
    margin: 0 5em;
}

.report-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 10em;
    margin: 0 5em;
}

.aside-report ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.aside-report ul li a {
    text-decoration: none;
}

.sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-body {
    background: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, violet);
    height: auto;
    padding: 0 10em;
    margin: 0 5em;
}

input {
    font-size: 1em;
}

h1 {
    border-bottom: 4px double green;
}

.die {
    font-size: 2em;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.flash-warning:before {
    content: "⚠";
}

.book-table th,
.book-table td {
    text-align: left;
    padding: 5px 0;
}

.book-img {
    height: 15em;
}

.metrics-div {
    background-color: antiquewhite;
    border: 1px solid #000;
    padding: 2em;
    margin: 2em 0;
}

.columns-div {
    display: flex;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 3;
}

.a-button {
    display: inline-block;
    text-decoration: none;
    border: none;
    margin: 1em;
    border-radius: 10px;
    background-color: #4B2E2B;
    color: #FFFFFF;
}

/* table, th, td {
  border:1px solid black;
  background-color: antiquewhite;
} */

.card {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    width: 50px;
    text-align: center;
    background-color: white;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-size: 18px;
    font-weight: bold;
}

.game-conatiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px
}

.index-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 15%;
}

button {
  background-color: rgb(60, 61, 59);
  color: white;
  padding: 0.5em;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

input {
    border-radius: 5px;
}

.proj-body {
    background: #006e23;
background: radial-gradient(circle, rgba(0, 110, 35, 1) 0%, rgba(0, 23, 10, 1) 100%);
    color: #FFFFFF;
}

.proj-body button {
    background-color: #000;
    color: #FFFFFF;
}

.proj-header nav {
    background: #0400ff;
    background: radial-gradient(circle, rgba(4, 0, 255, 1) 0%, rgba(0, 16, 97, 1) 100%);
    color: #FFFFFF;
}

.proj-header a,
.proj-header a:visited,
.proj-header a:hover,
.proj-header a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.proj-button {
    background: #000000;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 51%, rgba(143, 143, 143, 1) 100%);
    text-decoration: none;
    border: none;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;
    color: #FFFFFF;
}

.suits-image {
    width: 25%;
    padding: 2em 0;
}

.form-container {
    padding: 2em 0;
}