body {
    display: flex;
    flex-direction: column;
    background-color: rgb(172, 192, 172);
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

nav {
    background-color: rgba(255, 228, 196, 0.8);
    padding: 5px;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

footer {
    text-align: center;
    font-weight: bold;
}

.body-div {
    display: flex;
    flex-direction: column;
    padding: 0 10em;
    margin: 0 5em;
}

.report-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 10em;
    margin: 0 5em;
}

.aside-report ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.aside-report ul li a {
    text-decoration: none;
}

.sections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-body {
    background: linear-gradient(135deg, red, orange, yellow, green, blue, indigo, violet);
    height: auto;
    padding: 0 10em;
    margin: 0 5em;
}

input {
    font-size: 1em;
}

h1 {
    border-bottom: 4px double green;
}

.die {
    font-size: 2em;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.flash-warning:before {
    content: "⚠";
}

.book-table th,
.book-table td {
    text-align: left;
    padding: 5px 0;
}

.book-img {
    height: 15em;
}

.metrics-div {
    background-color: antiquewhite;
    border: 1px solid #000;
    padding: 2em;
    margin: 2em 0;
}