{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
<div class="report-div">
    <aside class="aside-report">
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
            <li><a href="#kmom03">Kmom03</a></li>
            <li><a href="#kmom04">Kmom04</a></li>
            <li><a href="#kmom05">Kmom05</a></li>
            <li><a href="#kmom06">Kmom06</a></li>
            <li><a href="#kmom10">Kmom10</a></li>
        </ul>
    </aside>

    <div class="sections-container">
        <section id="kmom01">
            <h2>Kmom01</h2>
            <ul>
                <li>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</li>
                <li>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</li>
                <li>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</li>
                <li>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? 
                Är det några särskilda områden som du känner att du vill veta mer om? 
                Lyft fram några delar av artikeln som du känner mer värdefulla.</li>
                <li>Vilken är din TIL för detta kmom?</li>
            </ul>

            <p>Den tidigare erfarenhet jag har av objektorientering är från python kursen och jag upplever att än så länge är de rätt lika.</p>
            
            <p>I objektorientering finns objekt, kopplade till sig finns atribut och metoder. Attributen sparar värden för objektet i ett visst läge. 
            Vill man att objektet ska utföra något/ändras så används metoder för. Det objektets API. Ett objekt skapas utifrån en klass och en klass fungerar som en mall. 
            Ett objekt är en instans av en klass och definiera neras genom att skriva ut class framför klassnamnet.
            </p>

            <p>Mycket är likt det som jag gjort i tidigare kurser, så som mappindelningar och vilka filer som ska vara vilken mapp. Hur metoderna, klaser och router fungerar men det finns fortfarande delar som jag inte förstår hur de funkar, deras syfte och så vidare. 
            Många gånger vet jag vilka delar som behövs och vart de ska vara för att funka men inte mer än så och det kan vara frustrerande att sakna den typen av kunskap.
            </p>

            <p>
            I “PHP The Right Way” är templating och Errors and Exceptions intressesanta då det är sådan som är värdefullt för det som vi håller på med just nu och kan bidra till lärandet och kodandet i kommande uppgifter.
            </p>
            
            <p>TIL för detta kmom är objekt och klasser och hur dessa fungerar.</p>
        </section>

        <section id="kmom02">
            <h2>Kmom02</h2>
            <ul>
                <li>Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</li>
                <li>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</li>
                <li>Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?</li>
                <li>Vilken är din TIL för detta kmom?</li>
            </ul>

            <p>Inom objektorientering innebär arv att en klass ärver från en annan klass. 
            Klassen som ärver ärver även egenskaperna från klassen. 
            Basklassen kallas även superklass och den ärvande klassen kallas subklass. 
            Komposition innebär en stark has-a relation mellan två objekt, där det ena objektet är helt beroende av det andra för att existera.
            Trait är lik arv men är en annan typ av konstruktion.
            Trait består av metoder och medlemsvariabler som används för att utöka funktionaliteten av en klass.
            Ett interface är ett kontrakt som definierar vilka metoder en klass måste erbjuda, utan att innehålla någon konkret implementation.
            </p>

            <p>Jag valde att ha fyra klasser, Card, Cardhand, DeckOfCards och CardGraphic.
            Jag använder mig av både kompision och arv. CardGraphic utökar Card-klassen. CardHand har en instans av DeckOfCards.
            Card hanterar ett kort, DeckOfCards haterar hela kortleken, CardGraphic hanterar det visuella och CardHand är spelarens hand.
            Jag tycker att denna uppdelning gör koden tydlig och strukturerad, varje klass har sin särskilda uppgift.
            Genom att separera ansvar i olika klasser blir det lättare att följa och underhålla varje del för sig.
            Det är också möjligt att utöka funktionaliteten i framtiden, till exempel genom att lägga/återanvända till kortspelsregler och funktionaliteter.
            </p>

            <p>Symfony är kul än så länge, struktureringen MVC är något vi hållit på med i andra kurser så det är något man känner igen.
            Det gör att det blir enklare att jobba med det eftersom det är bekant. 
            Strukturen gör det dessutom enkelt att förstå och orientera sig i bland alla mappar och filer.
            </p>

            <p>TIL för detta kmom är kompisition och arv, hur dessa fungerar.</p>
        </section>

        <section id="kmom03">
            <h2>Kmom03</h2>
            <ul>
                <li>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</li>
                <li>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?</li>
                <li>Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</li>
                <li>Vilken är din TIL för detta kmom?</li>
            </ul>

            <p>Jag började koda innan jag gjorde flödesdiagram och psuedokod.
            Dels för att jag såg den lite senare då den låg efter kraven och jag hann börja direkt med de samt för att jag brukar vilja börja koda för att bygga ett skelett och förstå vilka klasser och dylikt jag ska använda.
            Börjar jag med diagram blir jag även lätt färst vid den och fyrkantig så om jag behöver tänka om eller ändra mig kan jag lätt låsa mig vid att diagramet ska följas till vilket pris som helst.
            Psuedokoden gick ändå bra och dte var inte för svårt tack vare exmepel och tidigare erfarenhet men flödesdiagramet var däremot svårt, trots att jag gjort dte tidigare.
            Det var svårt att få till hur jag skulle illustrera den, i mitt huvud var det självklart för jag visste hur jag byggt mitt spel och varför jag gjort som jag gjort men det blev mcyket svårare att visualisera flödet.
            </p>

            <p>Jag började med att skapa laddningssidan och därefter kom varje steg naturligt.
            Skapa startknappen dra kort, stoppa spelet, om det var över 21 så avslutas spelet annars kan spelaren välja att avsluta närsom och då drar banken sin och resultatet presenteras.
            Jag är överlag nöjd den gör det den ska och dne uppfyller kraven.
            förbättringspotentialen är såklart oändliga.
            Jag hade bland annat velat göra den visuelt snyggare med kort och annan styling.
            Tanken med klasserna var egentligen först att skapa en klass för spelaren och en för banken och en för att starta spelet.
            Ju mer jag kodade desto mer flytande blev det och jag valde att göra om och gjorde en för att välja vems tur, när man ska dra kort och en för olika metoder som berör spelet generellt.
            Vart det bra uppdelat? Nej det kan jag inte påstå, det är virritg och otydligt och inga tydliga gränser och uppgifter för varje enskild klass.
            Spelet funkar och jag är trött i både kropp och själ så då får det duga!
            </p>

            <p>Jo det är väl som innan skulle jag säga. inte mycket har förändrats i mina känslor för Symfony.</p>
            
            <p>TIL för detta kmom är väl flödesdiagram. 
            Dels att får göra det igen och öva men också hur vikitigt det är att få ner det i ett diagram det som finns i huvudet.
            Vidare att när jag har det i huvudet känner jag att det är bra att få ner det så jag kan följa den och på så sätt öva på att programera på ett annat sätt som jag tror är värdefullt för mig.
            Jag kodar fritt och löser problem allteftersom men jag tror jag behöver tänka och sen koda lite mer.
            </p>
        </section>

        <section id="kmom04">
            <h2>Kmom04</h2>
            <ul>
                <li>Berätta hur du upplevde att skriva kod som testar annan kod med PHPUnit och hur du upplever PHPUnit rent allmänt.</li>
                <li>Hur väl lyckades du med kodtäckningen av din kod, lyckades du nå mer än 90% kodtäckning?</li>
                <li>Upplever du din egen kod som “testbar kod” eller finns det delar i koden som är mer eller mindre testbar och finns det saker som kan göras för att förbättra kodens testbarhet?</li>
                <li>Valde du att skriva om delar av din kod för att förbättra den eller göra den mer testbar, om så berätta lite hur du tänkte.</li>
                <li>Fundera över om du anser att testbar kod är något som kan identifiera “snygg och ren kod”.</li>
                <li>Vilken är din TIL för detta kmom?</li>
            </ul>

            <p>Det var helt okej. Att testa kod har man fått göra i python kurserna och det är därför inte helt obekant.
            Det är bra att få lär sig testa i fler programmeringsspråk.
            Det som däremot är olikt python-kurserna är att jag upplever att man inte fick en ordentlig intro till testning.
            Det hade behövts, att få öva lite mer och få lite fler exempel innan man kastas in i det.
            </p>
            
            <p>Det gick helt okej jag fick till 100% kodtäckning men det var väldigt svårt och krångligt.</p>
            
            <p>Jag upplever att alla kod som skapades tidigt i kursen som enklare att testa men långt ifrån allt var testbart.
            Eftersom att det inte skulle vara så mycket kod i controllers (i kmom03) så flyttade jag in det mesta i metoder vilket gjorde de nästan omöjliga att testa, i alla fall på min kunskapsnivå.
            Jag gjorde många och långa försök innan jag gav upp och flyttade ut kod/metoder som inte till gick att testat till controllers.
            Det var främst session kod som var svår att testa och som jag fick hantera i controllers.
            Det finns dock kvar session kod kvar i metoder som var testbara och de blev kvar.
            Jag fick göra om koden rätt mycket för att få till det med testerna.
            Mycket styrdes av rädslan att få kompletering på grund av för mycket kod i controllers men jag kan inte mer än så här så det fick duga tillsut.
            </p>

            <p>Det som kan förbättras är att inte besgränsa controllers så värst utan att ha en mer jämn balans med inte för stora metoder eller controllers.
            Att ha mindre metoder som fokuserar på en uppgift och dela upp dessa bland flera klasser.
            </p>

            <p>Jag vet inte om testbar kod är något som kan identifiera “snygg och ren kod”.
            Det är inget jag har reflekterat över.
            Så kan det absolut vara. Det är enklare att testa mindre metoder, metoder som är i mindre klasser och som gör en sak och inte flera.
            Så på det viset kan det absolut stämma. 
            Kod jag fick göra om var främst långa och spretiga metoder.
            </p>
            
            <p>TIL för detta kmom är att planera sina metoder lite mer och fokusera på struktur.
            Det kanske tar lite längre tid men i längden vinner man mycket på det när man slipper behöva göra om det mesta av koden.
            Oftast bygger jag bara och fortsätter på det viset tills det funkar. 
            Jag har inte tid för att fokusera på struktur om det inte är ett krav i uppgiften.
            Men den här gång slog det tillbak när jag fick hålla på i veckor med att få till allt.
            </p>
        </section>

        <section id="kmom05">
            <h2>Kmom05</h2>
            <ul>
                <li>Gick det bra att jobba igenom övningen med Symfony och Doctrine. Något särskilt du tänkte/reagerade på under övningen?</li>
                <li>Berätta om din applikation och hur du tänkte när du byggde upp den. Tänkte du något speciellt på användargränssnittet?</li>
                <li>Gick det bra att jobba med ORM i CRUD eller vad anser du om det, jämför gärna med andra sätt att jobba med databaser?</li>
                <li>Vad är din uppfattning om ORM så här långt och relatera gärna till andra sätt att jobba med applikationskod mot databaser?</li>
                <li>Vilken är din TIL för detta kmom?</li>
            </ul>

            <p>Det gick bra att jobba med Symfony och Doctrine. 
            Det är något helt nytt för mig men iom att fanns en genomgång av övningen som dessutom var behjälplig inför övningen så gick det bra.
            Det var väldigt smidigt att kunna skapa en entitetklass och på så sätt kunna spara data.
            Jag uppskattade att man kunde skapa genom terminalen och på så sätt få det man behöver skapat åt en.
            Det kändes smidigt och enkelt.</p>

            <p>Jag utgick självklart från kravet och byggde det som stod. 
            Utöver det så byggde jag navigationen på ett sätt som jag upplevde skulle vara enklet och "naturligt" det vill säga logiska steg i hur man går vidare från en sida till en annan.
            För mig innebar det att laddningssidan innehöll en länk för att lägga till en bok och en länk för att visa alla tillagda böcker.
            När man lagt till en bok så hamnar man i sidan som listar alla tillagda böcker. 
            På den sidan kan man sedan få fram mer information om en bok genom att klicka på ösnkad bok ur listan.
            Då leds man vidare till en ny sida med detljerad information om boken.
            På denna sida finns det två möjligheter, att radera boken eller updatera informationen.
            Jag byggde sidan lite som jag själv skulle vilja kunna navigera mig på en sida.
            Formulären ville jag hålla enkelt. 
            Det hade gått att kunna göra den som en column istället, så som de flera formulär är.
            Det är mer användarvänligt så men jag lät det vara horisontellt på grund av tid och ork.
            </p>

            <p>Jag tycker det var kul att arbeta så här mest för att den gjorde en del av det tråkiga jobbet åt mig. 
            Det kändes mer automatiserat och smidigt.
            Så som vi jobbat tidigare har det varit mycket mer manuellt och krångligt men det finns för- och nackdelar med det. 
            Kanske har man på ett sätt mer kontroll om man får bygga upp allt själv.
            Jag har bara lärt mig väldigt lite inför den här uppgiften så jag skanar djupare kunskaper i för- och nackdelar med Doctrine.</p>
            
            <p>Det är som jag nämnt ovan, enklare och smidigare.</p>

            <p>TIL för detta kmom är ett annat sätt att jobba med databaser som var lite roligt och intressant faktiskt.
            Databas har varit det språk jag tyckt minst om än så länge i utbildningen så det var kul att jobba på ett annat sätt.</p>
        </section>

        <section id="kmom06">
            <h2>Kmom06</h2>
            <ul>
                <li>Hur uppfattade du verktyget PHPmetrics och fann du några särskilda bitar mer värdefulla än andra? Var det några särskilda metrics eller bilder du uppskattade?</li>
                <li>Berätta hur det gick att integrera med Scrutinizer och vilken är din första känsla av verktyget och dess badges? Vilken kodtäckning och kodkvalitet fick du efter första bygget?</li>
                <li>Hur är din egen syn på kodkvalitet, berätta lite om den? Tror du man kan påvisa kodkvalitet i någon viss mån med badges eller vad tror du?</li>
                <li>Vilken är din TIL för detta kmom?</li>
            </ul>
            <p>Jag upplevde PHPmetrics som både svår och tydlig. 
            Cirklarna var väldigt tydliga, där kunde man genom storlekarna och färgen på cirklarna se vilka klasser som inte var välstrukturerade.
            Även om det visuella inte berättade allt om hur koden var så var det en bra första och snabb överblick.
            Men den var även svår eftersom det var så många tabeller med massa förkortningar jag aldrig hört talas om.
            Det tog en stund att komma in i det, kolla upp alla förkortningar och förstå navigeringen. 
            Därefter var PHPmetrics till hjälp för att förstå svagheter i ens kod.
            </p>

            <p>Badges var ett tydligt och lättläst verktyg.
            Jag kunde genom sifffor och färger se vad som vad godkänt och icke-godkänt.
            Scrutinizer har en aningen mer lättorienterad sida, kanske för att det inte finns lika flikar och tabeller.
            I issues stod det tydligt vilka fel den funnit så man enkelt kunde åtgärda dessa.
            Det var inte heller lika månda förkortningar utan tydliga tabeller där man dessutom kunde klicka på klasserna för att få mer detaljerad info.
            Scrutinizer var enklare och tydligare att arbeta med för mig.
            Vid första bygget hade jag kodkvalite på 10 och kodtäckning på 31% och just nu har jag kvar kodkvaliten på 10 och en kodtäckning på 41% så det är framsteg.
            </p>

            <p>Jag upplever kodkvalite som metoder där man fokuserar på en uppgift, gärna mindre men många metoder.
            DRY är bra att utgå ifrån när man kodar.
            klasser som fokuserar på en sak.
            Docstrings som förklarar koden, välgenomtänkt strukurering av filer och mappar.
            Det här är det jag lärt mig/ fått uppfattning är kodkvalite.
            Kodkvalite gör att man lättare hittar i sin kod, förstår sin kod och kan felsöka samt vidareutveckla kod.
            När jag haft stora metoder har de varit krångliga och svåra att omarbeta när det behövts, något jag inte upplevt på samma sätt med mindre metoder och klasser.
            Kodkvalite är nog nödvändigt vid samarbete med andra också, annars riskerar koden att bli för jobbig för kamraterna att förstå och arbeta med.
            Jag tror absolut man i viss mån kan påvisa kodkvalitet med badges. 
            Den visar lite viklen riktning koden tagit och det är på rätt spår eller inte.
            Badges kan inte läsa av koden på djupare nivå och förstå hur den funkar och inte så därför finns det begränsningar.
            </p>

            <p>TIL för detta kmom har varit att jobba med PHPmetrics och Scrutinizer.
            För mig är dessa helt nytt och det lärde mig att förstå kodkvalite på ett djupare och nytt sätt.
            Förutom python kurserna är det inte lika strikt hur man ska bygga sin kod och det har oftast lett till fungernande men illastrukturerad kod.
            Något jag stört mig på men nu känner jag att jag har lite mer kött på bennen för att koda bättre.
            </p>

        </section>

        <section id="kmom10">
            <h2>Kmom10</h2>
                <h3>Krav 1, 2, 3: Webbplats</h3>
                    <p>Jag valde att skapa blackjack för upp till 3 spelare och dealer. 
                    Valet grundade sig i att det kändes som en naturlig utveckling från tidigare projekt under kursen med blackjack med en spelare. 
                    Jag återanvände klasserna för kortleken som jag skapat tidigare för att inte behövs skapa liknande kod igen. 
                    Den här gången hade jag lärdomen från kmom06 i bakhuvudet, att skapa små funktioner, 
                    klasser som hanterar en sak och dylikt. Det kändes dock lättare sagt än gjort. 
                    Ju mer komplext det blev desto svårare blev det att skapa noggrant strukturerade funktioner och klasser.
                    </p>
                    
                    <p>
                    Jag skapade de relevanta sidorna och därefter började jag tänka hur jag ville att spelt skulle börja och utformas. 
                    Jag kom snabbt fram till att jag vil ha liknande den i tidigare kursmoment. 
                    </p>

                    <p>
                    Det rullade på i början men när jag väl kom till delen att skapa tur och ordning för kortdragning för spelarna så tog det lite stop. 
                    Jag vet fortfarande inte riktigt varför något som egentligen inte skulle behöva vara så svårt helt plötsligt kändes omöjligt. 
                    Jag fick göra om funktioner om och om igen för att landa i hur jag vill hantera det. 
                    En funktion för räkna poäng, en för att hantera vems tur det är och en för att hantera att dra kort. 
                    Jag löste det med index, kontroll av status för varje spelare och poängräkning. 
                    </p>

                    <p>
                    Det var lätt hänt att jag glömde att kolla upp reglerna för riktigt blackjack och fick i efterhand gå och justera för att hålla mig till reglerna vilket innebar att jag strulade till kod som redan var fungerande. 
                    Det var inte heller lätt att veta vilka regler jag ville implementera eftersom att vissa regler var mer komplexa än andra och jag ville inte investera för mycket tid i det. 
                    Spelet är därför en kompromiss, exempelvis ska dealern ha två dragna kort en som är synlig och en som är dold. 
                    I mitt spel har jag valt att banken ska ha ett synligt kort som spelarna kan se. 

                    Gällande docs/ fick jag gå tillbaka för tat minnas hur jag skulle göra men efter det gick det snabbt att lösa de kraven. 
                    </p>

                <h3>Krav 4: JSON API</h3>
                    <p>Att implementera krav 4 var inte så svårt. 
                    Jag gick tillbaka för att kika på hur jag gjort tidigare för att väcka lite minnen. 
                    Jag fick klura på vilka json api router jag ville skapa. 
                    När jag väl bestämt mig för vilka jag ville ha fick jag börja bygga koden. 
                    När jag väl skapat funktionen till förta routen så tyckte jag att det rullade på rätt smidigt eftersom koden är snarlik men mindre justeringar.
                    </p>

                    <p>Första routen ska visa poängställningen för spelare och dealer. 
                    Finns inget spel sparad i session ska api visa tomma arrays och inte krascha. 
                    Nästa json api ska visa vilka spelare som är med och spelar. 
                    Tredje visar dealerns kort och poäng. 
                    Fjärde visar status för varje enskild spelare i spelet, förutom för dealen som inte har status då behovet för det inte finns. 
                    Femte och sista så ska användaren kunna välja vilken spelare som den vill se mer detaljerad info om. 
                    Data som visas är från senast spelade runda och finns inget så visas en tom array.
                    </p>

                <h3>Allmänt</h3>
                    <p>Jag har svarat lite på detta ovan. 
                    Projektet rullade på men har haft vissa moment som varit extra struliga och svåra att lösa. 
                    Dessa har tagit lång tid. Jag kom lång på krav 5 men fick ge upp den då tiden inte räckte. 
                    Jag behövde ändra väldigt mycket kod för att implementera och hantera data via databas. 
                    </p>

                    <p>Projektet var inte lika kul som jag trodde att det skulle vara och jag tror att mycket berodde på tidspress. 
                    Jag kände mest stress och tappade motivation. Jag hade velat ge mer men hinner inte. 
                    Jag tror inte att projektet egentligen är så svårt men att det blev det för mig på grund av nämnda omständigheter. 
                    Det som var lätt var nog de moment som jag kunde återanvända från tidigare kursmoment. 
                    Projektet var rimligt, det var kul med valmöjligheter.</p>

                    <p>Kursen har varit helt okej, lärorik men tuff. 
                    Vissa moment har dykt upp lite som gubben i lådan. 
                    Det inte alltid hänger med i svängarna men jag gillar alltid att lära mig mer och något nytt. 
                    Exempelvis tyckte jag att kursmoment 6 var ett moment som jag tycker bara plötsligt dök upp och som jag inte hängde med i alls från början men sedan när jag väl kom in i det var väldigt lärorik och givande. 
                    Jag kan tänka mig rekommendera och ger den 7 av 10 i betyg. 
                    </p>
        </section>
    </div>
</div>
{% endblock %}