{% extends "base.html.twig" %}

{% block title %}Add book{% endblock %}

{% block main %}
    <div class="body-div">
        <h1>Library</h1>
         <table class="book-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="{{ path('book_by_id', {'id': book.getId()}) }}">{{ book.getTitle() }}</a></td>
                    <td>{{ book.getAuthor() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
